    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.mCustomScrollbar.concat.min.js') }}">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='custom.js') }}">
        
    </script>
